<ul class="list-group">
<%data.forEach(function(item, index){ %>
 
        <li class="list-group-item" style="width: 35%;align-content: center;">
            <% if(item.Poster.length > 5) { %>
            <img src="<%=item.Poster %>" class="img-thumbnail" title="<%=item.Title%>" style="margin-left: 20px;"/>
        <%} else {%>
                <p class="card-text">(NO IMAGE FOR POSTER)</p>
            <%}%>
            <p class="lead"><%=item.Title%>, <%=item.Year%></p>
            <p class="card-text"><%=item.Plot%></p>
        </li>

<% }) %>
</ul>